.show-settlement{
  min-height:600px ;
}
.reve-expend-title {
  margin:30px 0 0;
  padding: 10px 0 10px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  font-weight: bolder;
}
.reve-expend-content {
  display: flex;
  justify-content: space-between;
  div.reve-expend-content-item {
    padding: 20px 0;
    flex: 1;
    div:first-child{
      color: #999;
      font-size: 14px;
    }
    div:last-child{
      font-size: 20px;
    }
    .income{
      color:#0f0 ;
    }
    .pay{
      color: #f00;
    }
  }
}
.add{
  margin: 10px 0 20px 0;
}
